    <div class="media">
      <div class="media__image">
        <svg class="icon icon--primary">
          <use xlink:href="images/sprite.svg#snap"></use>
        </svg>
      </div>
      <div class="media__body">
        <h3 class="media__title">Easy Start & Manage Updates</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iusto illum
          laborum possimus deserunt blanditiis inventore corporis asperiores
          odio odit optio accusamus velit iste, quo ullam unde eveniet quod
          fugiat rem eos. Perferendis, quis facere rerum eius quisquam eaque
          accusantium odio.
        </p>
      </div>
    </div>